.cart__items {
    padding: 0;
    margin-bottom: -30px;
}

.cart__totalAmount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 0 0;
}

hr {
    padding: 0;
    margin: 0;
}

.cart__buttons {
    text-align: right;
}

.close_btn {
    background-color: white;
    color: brown;
}

.overlay-buttons {
    padding: 10px 30px 10px 30px;
}