.meals-summary {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: #383838;
    padding: 10px 30px;
    text-align: center;
    margin: auto;
    width: 80%;
}

.meals-summary__body {
    font-size: 22px;
}