.meals {
    color: white;
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding-bottom: 100px;
}

@media only screen and (max-width: 600px) {
    .meals {
        width: 100%;
    }
}